################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Ade.OfficeService/bin/Debug/netstandard2.0
/Ade.OfficeService/obj
/Ade.OfficeService.UnitTest/bin/Debug/netcoreapp2.1
/Ade.OfficeService.UnitTest/obj
